body{
    margin: 2em;
    font-family: 'REM';
    padding: 0;
    height: 100vh;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.5fr;
    grid-template-rows: 1fr 4fr 3fr 2fr;
    height: 92vh;
}

main{
    background: #FFFADF;
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 3;
}

.nom{
    grid-column-start: 1;
    grid-column-end: 2;
    
    grid-row-start: 3;
    grid-row-end: 4;
}


.yum{
    background: ;
    grid-column-start: 2;
    grid-column-end: 3;
    
    grid-row-start: 3;
    grid-row-end: 4;
}

.diabetes{
    background: rgb(69, 69, 69);
    grid-column-start: 1;
    grid-column-end: 3;
    
    grid-row-start: 4;
    grid-row-end: 5;
}

.projects{
    background: rgb(206, 81, 183);
    grid-column-start: 3;
    grid-column-end: 4;
    
    grid-row-start: 2;
    grid-row-end: 5;
}
