* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.mainTitle{
    background-color: rgb(7, 132, 146);
    border-radius: 10px;
    color: aliceblue;
    font-size: xx-large;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container{
    padding: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.content{
    background-color: antiquewhite;
    grid-column: span 2;
}

.description{
    font-size: large;
    font-weight: lighter;
    font-style: italic;
}