* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color:rgb(239, 239, 239);
}

.container{
    padding: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr 0.1fr 6fr 0.8fr;

    grid-template-areas: 
    "mainTitle mainTitle mainTitle"
    "description description sidebar"
    "content content sidebar"
    "blank footer footer";
    gap: 10px;
}

.mainTitle{
    background-color: rgb(35, 47, 78);
    border-radius: 40px;
    color: rgb(255, 255, 255);
    font-size: xx-large;

    display: flex;
    align-items: center;
    justify-content: center;  
    grid-column: span 2; 
    padding: 20px;
    grid-area: mainTitle;
}

.description{
    font-size: medium;
    font-weight: lighter;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: span 2;
    grid-area: description;
}

.contact{
    background-color: rgb(23, 224, 174);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: x-large;
    color: aliceblue;
    grid-column: span 2;
}

.container, container2{
    grid-template-areas: 
    "";
}

a{
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    
}

a, backtoMain:visited{
    color: black;
    font-weight: bold;
    font-size: 40px;
}

.content{
    background: linear-gradient(to bottom left, rgb(5, 255, 226), rgb(52, 240, 137));
    grid-column: span 2;
    border-radius: 10px;
    color: aliceblue;
    font-weight: bold;

    display: flex;
    align-items: auto;
    justify-content: center;
    grid-area: content;
    padding-top: 10%;
}

.imageDevs{
    grid-column-start: 2;
    grid-column-end: 4;
    height: 60vh;
    border-radius: 20px;
    border-color: black;

}

.content2{
    background-color: rgb(49, 63, 100);
    color: #fff;
    padding: 10%;
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.content form{
    accent-color: rgb(255, 130, 5);
}


.inputBox{
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    color: white;
    width: 120px;
    text-decoration: none;
    border: none;
}

#name{
    width: 190px;
}

#email{
    width: 190px;
}

#textform{
    color: black;
    width: 80%;
    height: 30%

}

#textform:enabled{
    border-inline: none;
    border: none;
}

.sidebar{
    background-color: rgb(35, 47, 78);
    border-radius: 10px;
    color: aliceblue;
    font-weight: bold;
    font-size: xx-large;

    /*USING FLEXBOX WITHIN ELEMENT IN THE GRID*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: sidebar;
}

.sidebar #fantasyButton{
    color: #fff;
    font-size: large;
    height: 80px;
    width: 140px;
    background: linear-gradient(to bottom left, rgb(5, 255, 226), rgb(52, 240, 137));
    border-radius: 10px;
}
.footer{
    color: white;
    background-color: rgb(35, 47, 78);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    align-items: center;
    grid-area: footer;
    text-decoration: none;
}

.footer:hover{
    background-color: rgb(49, 63, 100);
}

/* Style submit button */
.submit {
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(35, 47, 78);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown{
    color: white;
    font-weight: bold;
    height: 30px;
    width: 190px;
    background-color: rgb(49, 63, 100);
    border: 0;
    border-radius: 10px;
}

.dropdown:focus{
    background-color: rgb(71, 89, 136)
}


.submit:hover{
    background-color: rgb(49, 63, 100);
}

.projects-container{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 100px 1fr 2fr 400px;    
}

.content-projects{
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 20px;
    grid-row-start: 2;
    background-color: rgb(0, 182, 164);
}

.list-projects{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
    color: rgb(35, 47, 78);

}

/*MEDIA QUERIES*/

/*900 px is a random number. Mobile devices? Google it bruh*/
/*THE WHOLE GRID LAYOUT CHANGES IF THE PAGE WIDTH < 900px*/
@media screen and (width < 900px){
    .container{
        background-color: rgb(255, 255, 255);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.2fr 0.1fr 6fr 0.8fr;
    
        grid-template-areas: 
        "mainTitle mainTitle"
        "description  sidebar"
        "content  sidebar"
        " footer footer";
    }
    
}