* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color:rgb(239, 239, 239);
}

.container{
    padding: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr 0.1fr 6fr 0.8fr;

    grid-template-areas: 
    "mainTitle mainTitle mainTitle"
    "description description sidebar"
    "content content sidebar"
    "blank footer footer";
    gap: 10px;
}

.mainTitle{
    background-color: rgb(35, 47, 78);
    border-radius: 40px;
    color: rgb(255, 255, 255);
    font-size: xx-large;

    display: flex;
    align-items: center;
    justify-content: center;  
    grid-column: span 2; 
    padding: 20px;
    grid-area: mainTitle;
}

.description{
    font-size: medium;
    font-weight: lighter;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: span 2;
    grid-area: description;
}


.content{
    background-color: rgb(26, 35, 60);
    grid-column: span 2;
    border-radius: 10px;
    color: aliceblue;

    display: flex;
    align-items: auto;
    justify-content: center;
    grid-area: content;
    padding-top: 10%;
}



.sidebar{
    background-color: rgb(255, 130, 5);
    border-radius: 10px;
    color: aliceblue;
    font-weight: bold;
    font-size: xx-large;

    /*USING FLEXBOX WITHIN ELEMENT IN THE GRID*/
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: sidebar;
}

.footer{
    color: white;
    background-color: rgb(35, 47, 78);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    align-items: center;
    grid-area: footer;
}